:root{
    --cor-principal: #FAECD6;
    --cor-secundaria: #820000;
    --cor-terciaria: #4E6C50;
    --preto: #000000;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color:var(--cor-principal) ;
  }
  
  body h2 {
    color: var(--cor-secundaria);
  }
  
  main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .spnQtd {
    text-align: end;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: white;
  }

  button:hover{
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
  }
  
  .finish {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  
  .finish button {
    text-align: center;
  }